extends ../layout

block content
	div#chart
	div.block
		div.inline
			form
				input.cool-form#add-category(type='text')
			button.cool-button#graph-add Add
		div.inline
			form
				input.cool-form#remove-category(type='text')
			button.cool-button#graph-delete Delete

block js
	script(src='../js/bargraph-categorical.js')
