doctype html
html
	head
		meta(charset='UTF-8')
		title D3.js v4 basics
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		script(src="https://d3js.org/d3.v4.js")
		block content
		block js
