extends ../layout

block content
	svg.ctr
		polygon(points="20,0 70,0 150,130 150,200" fill='#41B883')
		polygon(points="280,0 230,0 150,130 150,200" fill='#41B883')
		polygon(points="70,0 120,0 150,50 150,130" fill='#35495E')
		polygon(points="230,0 180,0 150,50 150,130" fill='#35495E')
